:root {
  --main_background: #2a2c2f;
  --main_font-color: #fff;
  --color-links: #fff;
  --color-places-url: #aaaaaa;
}

.page {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1280px;
  box-sizing: border-box;
  background-color: var(--main_background);
  color: var(--main_font-color);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  transition: all 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
