.header__list-lang-link {
  position: relative;
  top: 4px;
  display: flex;
  column-gap: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .header__list-lang-link {
    font-size: 24px;
    line-height: 28px;
    top: 8px;
  }
}
