.cover__subtitle {
  margin: 0;
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__subtitle {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
  }
}
