.main__lead {
  margin: 0 0 64px;
}

@media screen and (min-width: 768px) {
  .main__lead {
    margin: 0 0 88px;
  }
}

@media screen and (min-width: 1024px) {
  .main__lead {
    margin: 0 0 92px;
  }
}
